@import "tailwindcss";

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* 
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html, body, #root {
  height: 100%;
  overflow: hidden; 
} */
 html, body, #root {
  height: 100%;
  width: 100%;
}